.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .time-control {
    display: flex;
    width: 50%;
    padding: 0.5rem 0.2rem;

    input {
      width: 100%;
      margin: 0px 10px;
    }
  }

  .play-control {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }
}
